h1 {
    color: red;
}

#heading2{
    color: blue;
}
.heading{
    color: orange;
}
.para{
    border: 2px;
    border-color: black;
    color: green;
    border-style: solid;
    padding: 10px;
    text-align: center;
}